name: ci
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        include:
          - scala: 2.12.20
          - scala: 2.13.16
    steps:
    - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        java-version: 11
        distribution: adopt
    - uses: actions/checkout@v5
    - uses: sbt/setup-sbt@v1
    - uses: coursier/cache-action@v7
    - run: sbt -v
           "set Test / g8 / g8Properties ~= { _ + (\"scala_version\" -> \"${{ matrix.scala }}\")}"
           g8Test
